@import "./mixins";

body {
    .flex(column, @align: center);
    .dark-content();

    max-height: 100dvh;
    height: 100%;

    @media @media-width-full {
        .flex(column, @align: flex-start);
    }

    @media @media-width-small {
        .flex(column, @align: center);
    }
}

// Set some colors

a {
    font-weight: bold;
    color: @color-fg-anchor;

    &:hover {
        color: @yellow2;
    }
}

select,
input[type="text"] {
    &:not(:focus):hover {
        background-color: @color-hover;
    }
}

input {

    &[type="range"],
    &[type="checkbox"] {
        &:hover {
            box-shadow: 0 0 4px 1px @color-hover, 0 0 4px darken(@color-hover, 40%);
        }
    }
}

// Set things such that we don't really have to worry about border
*,
*::before,
*::after {
    box-sizing: border-box;
}