@color-bg-content: #444;
@color-bg-settings: #BBB;
@color-bg-settings-unselected: #888;
@color-bg-input-unselected: #888;

@color-fg-border: #222;
@color-fg-label: #CCC;

@c1: #FB4;
@c2: #47A;
@c3: #27F;
@c4: #874;
@c5: #456;

@color-bg-settings: #BBB;
@color-bg-settings-selected: @color-bg-settings;
@color-bg-settings-unselected: @c5;

@dividerGrad: linear-gradient(90deg, #F000 0%, #666 50%, #00F0 100%);

@settings-width-min: 15rem;
@settings-width-max: 25rem;
@canvas-min: 19rem;
@canvas-max: 50rem;
@media-width-full: ~'(max-width: 102rem)'; // 50 + 2*25 + 4*0.5
@media-width-small: ~'(max-width: 37.0rem)'; // 20.5 + 15 + 3*0.5

.dark-content() {
    background-color: @color-bg-content;

    label {
        color: @color-fg-label;
    }
}

.light-content() {
    background-color: @color-bg-table;

    label {
        color: @color-fg-border;
    }
}

.flex(@direction, @gap: normal, @align: normal) {
    display: flex;
    flex-direction: @direction;
    gap: @gap;
    align-items: @align;
}

.grid(@gap: 0.5rem, @rows: auto, @columns: auto) {
    display: grid;
    gap: @gap;
    grid-template-rows: @rows;
    grid-template-columns: @columns;
}