@import './mixins';

.main {
    .flex(column, @align: center, @gap: 0.5rem);

    canvas,
    button,
    select {
        border: 3px solid black;
    }

    canvas {
        border-style: inset;
    }

    button,
    select {
        border-style: outset;
    }
}

.fractal {
    width: 800px;
    height: 800px;
    max-width: 800px;
    max-height: 800px;
}

.settingsStatus {
    .flex(row, @align: center);
    width: 100%;
}

.settings {
    .flex(column);
    flex: 1;

    >select {
        width: fit-content;
    }
}

.status {
    .flex(column);
    flex: 1;
}

.frameRate {
    .flex(row, @gap: 0.5rem, @align: center);
    justify-content: flex-end;
}

.renderDisplay() {
    border-radius: 50%;
    border: 2px outset black;
    width: 0.6rem;
    height: 0.6rem;
}

.isRendering {
    background-color: lightgreen;
    .renderDisplay();
}

.notRendering {
    background-color: darkred;
    .renderDisplay();
}